<!doctype html>
<html>
  <head>
    
    <link rel="stylesheet"  type="text/css" href="main.css" />
  </head>
  <body>
    <h1>Please select a user you would like to delete for <%=shopName%></h1>
    <form method="POST" action="/deleteuser">
        <p>Username: <input id ="username" type="username" name="username" value="username" /></p>
        <input type="submit" value="Register" />
      </form>
  </body>
</html>