<!doctype html>
<html>
  <head>
    <title>Welcome to <%=shopName%></title>
    <link rel="stylesheet"  type="text/css" href="main.css" />
  </head>
  <body>
    <h1>Welcome to <%=shopName%></h1>
    <p><a href="about">About <%=shopName%></a></p>
    <p><a href="search">Search for books</a></p>
    <p><a href="register">Register with us</a></p>
    <p><a href="list">A list of all of the available books</a></p>
    <p><a href="addbook">Add a new book to the list!</a></p>
    <p><a href="bargainbooks">bargain books on sale</a></p>
    <p><a href="listusers">List of users</a></p>
    <p><a href="login">Login</a></p>
    <p><a href="deleteuser">Deletes a user</a></p>
  </body>
</html>
