<!doctype html>
<html>
  <head>
     <link rel="stylesheet"  type="text/css" href="main.css" />
  </head>
  <body>
     <h1><%=shopName%> Shop</h1>
     <h2>These are the list of users on this site:</h2>
     <ul>
       <!--Cycles through the user details database and outputs the usernames -->
       <% for(let i = 0; i < user_details.length; i++) { %>
       <li><%= user_details[i].username %></li>
       <% } %>
     </ul>
  </body>
</html>