<!doctype html>
<html>
  <head>
     <link rel="stylesheet"  type="text/css" href="main.css" />
  </head>
  <body>
     <h1><%=shopName%> Shop</h1>
     <h2>Here are the books that we sell:</h2>
     <ul>
       <!--Cycles through the available books database and outputs the name and price -->
       <% for(let i = 0; i < availableBooks.length; i++) { %>
       <li><%= availableBooks[i].name + ", £"  + availableBooks[i].price  %></li>
       <% } %>
     </ul>
  </body>
</html>